@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

:root {
    /* Main Colors */
    --main-background-color: #FFFFFF;
    --title-color: #13183F;
    --paragraph-color: #83869A;

    /* Button Styles */
    --button-background-color-1: var(--title-color);
    --button-background-color-1-hover: #666CA3;

    --button-background-color-2: linear-gradient(#FF6F48, #F02AA6);

    --button-background-color-3: #F74780;
    --button-background-color-3-hover: #FFA7C3;

    --button-background-color-4: linear-gradient(#4851FF, #F02AA6);

    --button-border-radius-fb: 28px;
    --button-border-radius: 1.75rem;

    /* Font and Font Sizes */
    --main-font: 'Plus Jakarta Sans', sans-serif;

    --heading-xl-line-height-fb: 70px;
    --heading-xl-line-height: 4.375rem;
    --heading-xl-fb: 56px;
    --heading-xl: 3.5rem;

    --heading-l-line-height-fb: 51px;
    --heading-l-line-height: 3.1875rem;
    --heading-l-fb: 40px;
    --heading-l: 2.5rem;

    --heading-m-line-height-fb: 40px;
    --heading-m-line-height: 2.5rem;
    --heading-m-fb: 32px;
    --heading-m: 2rem;

    --body-heading-s-line-height-fb: 28px;
    --body-heading-s-line-height: 1.75rem;
    --heading-s-fb: 24px;
    --heading-s: 1.5rem;

    --heading-weight: 800;

    --body-m-fb: 18px;
    --body-m: 1.125rem;
    --body-m-weight: 500;

    --body-s-fb: 16px;
    --body-s: 1rem;
    --body-s-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--main-background-color);
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1,
h2,
h3 {
    font-weight: var(--heading-weight);
    color: var(--title-color);
}

.header,
.head-section,
.second-section-container, 
.footer {
    padding: 0 16px 0 16px;
    padding: 0 1rem 0 1rem;
}

/* HEADER STYLE */
.header {
    margin: 16px 0 38px 0;
    margin: 1rem 0 2.375rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* LOGO STYLES */
.logo {
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: var(--heading-weight);
}

.logo-dark {
    color: var(--title-color);
}

.logo-light {
    color: var(--main-background-color);
}

/* BUTTON STYLES */
a {
    text-decoration: none;
    font-weight: var(--body-s-weight);
}

.button {
    width: 140px;
    width: 8.75rem;
    height: 48px;
    height: 3rem;
    border-radius: var(--button-border-radius, --button-border-radius-fb);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--body-s, --body-s-fb);
    color: var(--main-background-color);
    /* position: relative;
    z-index: 1; */
}

.header__button {
    background-color: var(--button-background-color-1);
}

.header__button:hover {
    background-color: var(--button-background-color-1-hover);
    transition: background-color .5s ease;
}

.head-section__button {
    width: 167px;
    width: 10.4375rem;
    height: 56px;
    height: 3.5rem;
    background-image: var(--button-background-color-2);
}

.article__link {
    line-height: var(--body-heading-s-line-height, --body-heading-s-line-height-fb);
    font-size: var(--body-m, --body-m-fb);
    color: var(--button-background-color-3);
}

.article__link:hover {
    color: var(--button-background-color-3-hover);
    transition: color .5s ease;
}

.footer p:last-child {
    background-color: var(--main-background-color);
    border-radius: var(--button-border-radius, --button-border-radius-fb);
}

.footer__button {
    background-image: var(--button-background-color-4);
}

.head-section__button:hover, .footer__button:hover {
    animation: background-linear .5s ease;
    animation-fill-mode: forwards;
}

@keyframes background-linear {
    100% {
        opacity: 0.5;
    }
}

/* MAIN STYLE */
.main {
    display: flex;
    flex-direction: column;
}

/* HEAD SECTION STYLE */
.head-section {
    display: flex;
    flex-direction: column;
}

.head-section__headline {
    margin-bottom: 26px;
    margin-bottom: 1.625rem;
    line-height: var(--heading-l-line-height, --heading-l-line-height-fb);
    font-size: var(--heading-l, --heading-l-fb);
}

.head-section__copy {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    line-height: 26px;
    line-height: 1.625rem;
    font-size: var(--body-s, --body-s-fb);
    font-weight: var(--body-m-weight);
    color: var(--paragraph-color);
}

.head-section__hero-image-mobile {
    margin-top: 48px;
    margin-top: 3rem;
    width: 100%;
    height: auto;
    display: block;
}

.head-section__hero-image-tablet {
    display: none;
}

.head-section__hero-image-desktop {
    display: none;
}

/* SECOND SECTION STYLE */
.second-section-container {
    padding-bottom: 80px;
    padding-bottom: 5rem;
    width: 100vw;
    height: auto;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    gap: 2.5rem;
}

.second-section__title {
    width: auto;
    height: 120px;
    height: 7.5rem;
    background-image: var(--button-background-color-2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section__title > h2 {
    width: 286px;
    width: 17.875rem;
    line-height: 32px;
    line-height: 2rem;
    font-size: var(--heading-s, --heading-s-fb);
    color: var(--main-background-color);
}

.second-section__article {
    padding: 0 0 32px 28px;
    padding: 0 0 2rem 1.75rem;
    background-color: var(--main-background-color);
}

.second-section--border-radius {
    border-radius: 10px;
    border-radius: 0.625rem;
}

.article__icon {
    margin-top: -24px;
    margin-top: -1.5rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    width: 56px;
    width: 3.5rem;
    height: 56px;
    height: 3.5rem;
}

.article__title {
    margin-bottom: 16px;
    margin-bottom: 1rem;
    line-height: 25.2px;
    line-height: 1.575rem;
    font-size: 20px;
    font-size: 1.25rem;
}

.article__description {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    width: 286px;
    width: 17.875rem;
    height: auto;
    line-height: 26px;
    line-height: 1.625rem;
    font-size: var(--body-s, --body-s-fb);
    font-weight: var(--body-m-weight);
    color: var(--paragraph-color);
}

.footer {
    width: auto;
    height: 120px;
    height: 7.5rem;
    background-color: var(--title-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .header,
    .second-section-container, 
    .footer {
        padding: 0 39px 0 39px;
        padding: 0 2.4375rem 0 2.4375rem;
    }

    /* HEADER STYLE */
    .header {
        margin: 24px 0 99px 0;
        margin: 1.5rem 0 6.1875rem 0;
    }

    .head-section {
        margin-bottom: 210px;
        margin-bottom: 13.125rem;
        padding: 0 0 0 39px;
        padding: 0 0 0 2.4375rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .head-section__headline {
        margin-bottom: 25px;
        margin-bottom: 1.5625rem;
        width: 326px;
        width: 20.375rem;
    }

    .head-section__copy {
        width: 398px;
        width: 24.875rem;
    }

    .head-section__hero-image-mobile {
        display: none;
    }

    .head-section__col2 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    .head-section__hero-image-tablet {
        width: auto;
        height: 720px;
        height: 45rem;
        display: block;
        position: relative;
        top: -85px;
        top: -5.3125rem;
        right: -295px;
        right: -18.4375rem;
    }

    /* SECOND SECTION STYLE */
    .second-section-container {
        padding-bottom: 86px;
        padding-bottom: 5.375rem;
    }

    .second-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 56px 11px;
        gap: 3.5rem 0.6875rem;
    }

    .second-section__title {
        height: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .second-section__title > h2 {
        position: relative;
        top: 56px;
        top: 3.5rem;
        left: 32px;
        left: 2rem;
    }

    .second-section__article {
        padding-left: 32px;
        padding-left: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .header,
    .second-section-container, 
    .footer {
        padding: 0 165px 0 165px;
        padding: 0 10.3125rem 0 10.3125rem;
    }

    .button {
        width: 167px;
        width: 10.4375rem;
        height: 56px;
        height: 3.5rem;
        font-size: var(--body-m, --body-m-fb);
    }

    .logo {
        font-size: 377px;
    }

    /* HEADER STYLE */
    .header {
        margin-bottom: 172px;
        margin-bottom: 10.75rem;
    }

    .head-section {
        margin-bottom: 250px;
        margin-bottom: 15.625rem;
        padding: 0 0 0 165px;
        padding: 0 0 0 10.3125rem;
    }

    .head-section__headline {
        margin-bottom: 29px;
        margin-bottom: 1.8125rem;
        width: 457px;
        width: 28.5625rem;
        line-height: var(--heading-xl-line-height, --heading-xl-line-height-fb);
        font-size: var(--heading-xl, --heading-xl-fb);
    }

    .head-section__copy {
        margin-bottom: 40px;
        margin-bottom: 2.5rem;
        width: 445px;
        width: 27.8125rem;
        line-height: var(--body-heading-s-line-height, --body-heading-s-line-height-fb);
        font-size: var(--body-m, --body-m-fb);
    }

    .head-section__button {
        height: 63px;
        height: 3.9375rem;
        border-radius: 31.5px;
        border-radius: 1.9688rem;
    }

    .head-section__hero-image-tablet {
        display: none;
    }

    .head-section__hero-image-desktop {
        height: 937px;
        height: 58.5625rem;
        display: block;
        position: relative;
        top: -146px;
        top: -9.125rem;
        right: -336px;
        right: -21rem;
    }

    /* SECOND SECTION STYLE */
    .second-section-container {
        padding-bottom: 140px;
        padding-bottom: 8.75rem;
    }

    .second-section {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 80px 30px;
        gap: 5rem 1.875rem;
    }

    .second-section__title {
        height: 322px;
        height: 20.125rem;
    }

    .second-section__article {
        height: 322px;
        height: 20.125rem;
        padding-bottom: 0;
        position: relative;
    }

    .second-section__title > h2 {
        width: 286px;
        width: 17.875rem;
        top: 64px;
        top: 4rem;
        line-height: var(--heading-m-line-height, --heading-m-line-height-fb);
        font-size: 32px;
        font-size: 2rem;
    }

    .article__icon {
        margin-bottom: 32px;
        margin-bottom: 2rem;
    }

    .article__title {
        margin-bottom: 24px;
        margin-bottom: 1.5rem;
        line-height: 30.24px;
        line-height: 1.89rem;
        font-size: var(--heading-s, --heading-s-fb);
    }

    .article__description {
        margin-bottom: 0;
        line-height: var(--body-heading-s-line-height, --body-heading-s-line-height-fb);
        font-size: var(--body-m, --body-m-fb);
    }

    .article__link {
        position: absolute;
        bottom: 40px;
        bottom: 2.5rem;
    }
}